adfv2-codecafe-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfv2-codecafe-dev"
		},
		"SnowflakeLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SnowflakeLinkedService'"
		},
		"SqlServerLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerLinkedService'"
		},
		"AzureSqlDatabaseLinkedServices_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseLinkedServices'"
		},
		"BlobStorageLinkService_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'BlobStorageLinkService'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/OnPremSQLServerToSQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Patient Data Load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"PatientID"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "BlobStorageLinkService",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PatientID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PatientID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Firstname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Firstname",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DOB",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DOB",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Zip",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Zip",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MobileNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MobileNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DateAdded",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "AddedBy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AddedBy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DateLastModified",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DateLastModified",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerDataSetPatient",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlDataSetPatient",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-06T09:02:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerDataSetPatient')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlDataSetPatient')]",
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremSQLServerToSnowFlake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Doctor Data Load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE SQL_RAW.DOCTOR;",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "BlobStorageLinkService",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DoctorID",
											"type": "Int32"
										},
										"sink": {
											"name": "DOCTORID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "Firstname",
											"type": "String"
										},
										"sink": {
											"name": "FIRSTNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LASTNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DOB",
											"type": "DateTime"
										},
										"sink": {
											"name": "DOB",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zip",
											"type": "String"
										},
										"sink": {
											"name": "ZIP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MobileNumber",
											"type": "String"
										},
										"sink": {
											"name": "MOBILENUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean"
										},
										"sink": {
											"name": "ISACTIVE",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATEADDED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "AddedBy",
											"type": "String"
										},
										"sink": {
											"name": "ADDEDBY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DateLastModified",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMODIFIED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String"
										},
										"sink": {
											"name": "MODIFIEDBY",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerDataSetDoctor",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeDataSetDoctor",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Patient Data Load",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Doctor Data Load",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE SQL_RAW.Patient;\n",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "BlobStorageLinkService",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PatientID",
											"type": "Int32"
										},
										"sink": {
											"name": "PATIENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "Firstname",
											"type": "String"
										},
										"sink": {
											"name": "FIRSTNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LASTNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DOB",
											"type": "DateTime"
										},
										"sink": {
											"name": "DOB",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zip",
											"type": "String"
										},
										"sink": {
											"name": "ZIP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MobileNumber",
											"type": "String"
										},
										"sink": {
											"name": "MOBILENUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean"
										},
										"sink": {
											"name": "ISACTIVE",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATEADDED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "AddedBy",
											"type": "String"
										},
										"sink": {
											"name": "ADDEDBY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DateLastModified",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMODIFIED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String"
										},
										"sink": {
											"name": "MODIFIEDBY",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerDataSetPatient",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeDataSetPatient",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Appointment Data Load",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Patient Data Load",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE SQL_RAW.Appointment;\n",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "BlobStorageLinkService",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AppointmentID",
											"type": "Int32"
										},
										"sink": {
											"name": "APPOINTMENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "DoctorID",
											"type": "Int32"
										},
										"sink": {
											"name": "DOCTORID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "PatientID",
											"type": "Int32"
										},
										"sink": {
											"name": "PATIENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "DateOfAppointment",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATEOFAPPOINTMENT",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATEADDED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "AddedBy",
											"type": "String"
										},
										"sink": {
											"name": "ADDEDBY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DateLastModified",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMODIFIED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String"
										},
										"sink": {
											"name": "MODIFIEDBY",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerDataSetAppointment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeDataSetAppointment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Speciality Data Load",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Appointment Data Load",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE SQL_RAW.Speciality;\n",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "BlobStorageLinkService",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SpecialityID",
											"type": "Int32"
										},
										"sink": {
											"name": "SPECIALITYID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATEADDED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "AddedBy",
											"type": "String"
										},
										"sink": {
											"name": "ADDEDBY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DateLastModified",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMODIFIED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String"
										},
										"sink": {
											"name": "MODIFIEDBY",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerDataSetSpeciality",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeDataSetSpeciality",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-06T09:02:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerDataSetDoctor')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeDataSetDoctor')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerDataSetPatient')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeDataSetPatient')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerDataSetAppointment')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeDataSetAppointment')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerDataSetSpeciality')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeDataSetSpeciality')]",
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeDataSetAppointment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SnowflakeLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "APPOINTMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "DOCTORID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PATIENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "DATEOFAPPOINTMENT",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "DATEADDED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "ADDEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "DATELASTMODIFIED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "MODIFIEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SQL_RAW",
					"table": "APPOINTMENT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SnowflakeLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeDataSetDoctor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SnowflakeLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "DOCTORID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "FIRSTNAME",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "LASTNAME",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "DOB",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "ADDRESS",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "CITY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "STATE",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "COUNTRY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "ZIP",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "MOBILENUMBER",
						"type": "VARCHAR",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ISACTIVE",
						"type": "BOOLEAN",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "DATEADDED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "ADDEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "DATELASTMODIFIED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "MODIFIEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SQL_RAW",
					"table": "DOCTOR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SnowflakeLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeDataSetPatient')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SnowflakeLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "PATIENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "FIRSTNAME",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "LASTNAME",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "DOB",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "ADDRESS",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "CITY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "STATE",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "COUNTRY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "ZIP",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "MOBILENUMBER",
						"type": "VARCHAR",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ISACTIVE",
						"type": "BOOLEAN",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "DATEADDED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "ADDEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "DATELASTMODIFIED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "MODIFIEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SQL_RAW",
					"table": "PATIENT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SnowflakeLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeDataSetSpeciality')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SnowflakeLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "APPOINTMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "DATEADDED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "ADDEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "DATELASTMODIFIED",
						"type": "TIMESTAMP_NTZ",
						"precision": 29,
						"scale": 9
					},
					{
						"name": "MODIFIEDBY",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SQL_RAW",
					"table": "SPECIALITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SnowflakeLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerDataSetAppointment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AppointmentID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DoctorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PatientID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DateOfAppointment",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateAdded",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AddedBy",
						"type": "nvarchar"
					},
					{
						"name": "DateLastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Appointment"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerDataSetDoctor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DoctorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Firstname",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "DOB",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Zip",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "varchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "DateAdded",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AddedBy",
						"type": "nvarchar"
					},
					{
						"name": "DateLastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DOCTOR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerDataSetPatient')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "PatientID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Firstname",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "DOB",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Zip",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "varchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "DateAdded",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AddedBy",
						"type": "nvarchar"
					},
					{
						"name": "DateLastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Patient"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerDataSetSpeciality')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SpecialityID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "DateAdded",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AddedBy",
						"type": "nvarchar"
					},
					{
						"name": "DateLastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Speciality"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageLinkService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('BlobStorageLinkService_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('SnowflakeLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerLinkedService_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntergrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntergrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TriggerHealthCareDataLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "OnPremSQLServerToSnowFlake",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2024-02-05T17:53:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/OnPremSQLServerToSnowFlake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIntergrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseLinkedServices')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseLinkedServices_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDataSetPatient')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServices",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PatientID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Firstname",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "DOB",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Zip",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "varchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "DateAdded",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AddedBy",
						"type": "nvarchar"
					},
					{
						"name": "DateLastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Patient"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedServices')]"
			]
		}
	]
}